
.interventionLink:link {
    color: grey;
  }
  .interventionLink:visited {
    color: rgb(146, 157, 163);
  }
.interventionLink:hover {
    text-decoration: none;
}
.interventionLink:hover > #interventionCard {
    background-image: repeating-conic-gradient(from 360deg at 15% 0%, white, rgba(150, 206, 238, 0.3), white,  rgb(37, 223, 223) ,  rgb(65, 2, 51) 35%, purple 60%, white, rgba(37, 155, 223, .3)); 
    /* background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-color: white; */
    box-shadow: inset 5px -30px 30px rgb(14, 233, 233) ;
    position: relative;
    z-index: 4;
}
.interventionLink:hover .intervention-icon svg path,
.interventionLink:hover #interventionName
 {
    color: white;
  }
  /* .interventionLink:hover #interventionName {
      display: none;
  } */
.interventionCardsContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 6em 20em;
}
#interventionCard {
    flex-shrink: 0;
    margin: 70px 70px;
    height: 17em;
    width: 17em;
    border-radius: 50%;
    
    background: repeating-conic-gradient(from -250deg at 15% -20%, white, rgba(150, 206, 238, 0.3), white,  rgb(37, 223, 223) ,  rgb(65, 2, 51) 35%, purple 60%, rgba(37, 155, 223, .3)); 
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}
.interventionLink {
    display: block;
}
#interventionName {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    color:rgba(45, 5, 97, 1);
    font-size: 2.2em;
    font-weight: 900;
    width: 8em;
    height: 4.5em;
    text-align: center;
    padding: 0px 30px 0px;
    margin: 00px 0 20px;
    /* background-color:rgba(149, 165, 182, 0.5); */
    z-index: 1;
}

.intervention-icon {
      position: relative;
      padding: 2em 0;
      top: .5em;
      display: flex;
      justify-content: center;
      
  }
  .intervention-icon svg path {
    color:rgba(45, 5, 97, 1);
    z-index: 1;
  }
 