
.interventionLink:link {
    color: grey;
  }
  
  /* visited link */
  .interventionLink:visited {
    color: rgb(146, 157, 163);
  }
.interventionLink:hover {
    text-decoration: none;
    color: rgba(51, 206, 255, 1);
}
.interventionCardsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4em;
    margin-left: 6em;
}
#interventionCard {
    flex-shrink: 0;
    margin: 70px 150px;
    justify-content: center;
    height: 17em;
    width: 17em;
    border-radius: 50%;
    background-color: mediumturquoise;
}
.interventionLink {
    width: 25%;
}
.interventionName {

    color: white;
    font-size: 2.4em;
    font-weight: 500;
    display: block;
    padding-left: 45px;
    padding-right: 50px;
    padding-top: 90px;
    height: 248px;
    text-align: center;
}
.uploadImage {
    width: 250px;
}
.inner-child-image {
    display: block;
    width: 300px;
    margin: 0 auto 35px;
    background-size: cover;
    background-repeat:no-repeat;
}
.new-line {
    margin: 15px 0;
    display: block;
  }