.entry-list-heading {
    margin: 0 auto 0px;
    padding: 10px 0;
    width: 70%;
    font-weight: 500;
    font-size: 3.2em;
}
#entry {
    /* font-family: 'Sriracha', cursive; */
    color: rgb(125, 125, 125);
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.4em;
    min-height: 500px;
    overflow: auto;
}
.button-group {
    margin: 10px 0 0;
    padding-bottom: 0px;
}
.prompts {
    font-weight: 600;
    font-size: 1.7em;
    margin: 0 0 40px;
    line-height: 40px;
    padding: 30px 30px 0;
    color: rgb(155, 153, 153);
}
#card-container {
    padding: 30px;
    border: none;
    /* background-color: rgba(0, 0 , 0, .5); */
    box-shadow: none;
}
.card {
    padding: 40px 70px 20px;
    margin: 0 20px;
    border-radius: 20px; 
}
.entryList {
    font-family: 'Sriracha', cursive;
    margin: 0 auto 60px;
    width: 70%;
    color: rgb(9, 226, 197);
    font-weight: 500;
    font-size: 1.6em;
}
.entryDate {
    color: rgb(155, 153, 153);
    padding: 0 30px 0;
}
#button-group {
    margin: 0 220px;
}
.journal-card {
    background: linear-gradient(to bottom, rgba(8, 241, 191, .1) 10%,  rgba(8, 241, 191, .01) 90%);
}