* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}
.main {
    margin: 0px auto;
    max-width: 1920px;
    text-align: left;
}
.text-center {
    text-align: left;
}
body {
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    font-size: 1.4em;
    background: linear-gradient(to bottom, rgba(8, 241, 191, .1) 10%,  rgba(8, 241, 191, .01) 90%);  
}
h1, h2, h3 {
    color: slategray;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding: 55px 0;
    margin: 10px 0 15px 0;
}
h1 {
    font-size: 90px;
    font-weight: 700;
    /* background: -webkit-linear-gradient(#eee, rgb(203, 114, 231));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    padding: 55px 0;
    text-align: center;
}
.homeMain {
    height: 1600px;
    /* background: radial-gradient(circle at top,rgba(37, 155, 223, .01),rgb(122, 38, 80), rgba(61, 1, 11, .8),  rgba(37, 155, 223, .01));  */
    /* background: radial-gradient(circle at top, rgb(230, 100, 208, .5) 4%, rgba(37, 155, 223, .3), rgb(201, 137, 253) 30%, rgba(37, 155, 223, .3));  */
    background: conic-gradient(from 90deg at 40% -3%, white, purple, teal 35%, white,  rgba(37, 155, 223, 1) , rgba(37, 155, 223, .3)); 
}
.header {
    padding: 0px 0 20px;
    /* display: flex;
    justify-content: center; */
    margin: 0 30px;
}
#entry {
    width: 750px;
    height: 350px;
    margin: 0 auto;
}
.prompt {
    margin: 65px 0;
}
canvas {
    width: 85em !important ;
    height: auto !important ;
    margin: 100px auto 180px;
}
Button.button > span {
    font-size: 1.5em;
}
#anxietyScore > span {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .3);
    font-size: 2em;
    padding: 0 1em 0;
}
#anxiety-rating-welcome{
    font-size: 3.8em;
    font-weight: 800;
    color: rgb(255, 255, 255);
    padding: 20px 0 35px;
    text-align: center;
    margin: 0px 0 0px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, .3);
    /* animation: cssAnimation 0s ease-in 5s forwards;
    -o-animation: cssAnimation 0s ease-in 5s forwards; */
    
}
#anxiety-rating-scale {
    /* color: rgb(59, 243, 255); */
    color: rgb(241, 238, 238);
    font-size: 32px;
    font-weight: 600; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, .3);
    padding: 10px 0 0px;
}
.descriptionField {
    height: 85px; 
    margin: 0 auto 120px;
}
#description {
    width: 400px;
    height: 85px; 
    margin: 0 auto;
    margin-bottom: 70px;
}
#submit-rating {
    margin-top: 20px;
}
#anxietyScore {
    font-size: 1em;
    font-weight: 400;
    padding: 20px 0 80px;
}
#anxiety-rate-container {
    box-shadow:  -4px 4px 30px rgba(15, 0, 0, 0.2);
    /* background-color: rgba(0, 0, 0, 0.1); */
    box-shadow: inset 4px -4px 30px rgba(255, 255, 255, 1);
    width: 50%;
    height: 45em;
    padding: 100px 55px 200px;
    margin: 0 auto;
    border: 50px black;
    border-radius: 35%;
    /* background-color: rgba(3, 139, 139, 0.2); */
    /* background: radial-gradient(to bottom , rgba(61, 1, 11, .9) 30%, rgba(37, 155, 223, 0.3) 50%, rgba(114, 7, 60, 0.01) 90%); 
    /* background: conic-gradient( rgba(61, 1, 11, .9) 30%, rgba(37, 155, 223, 0.3) 50%, rgba(114, 7, 60, 0.01) 90%);  */
    /* box-shadow: inset -20px -20px 30px rgba(253, 253, 253, 0.3); */
    /* box-shadow: inset 20px 20px 30px rgba(253, 253, 253, 0.4); */
    /* border: 2px slateblue; */
    /* height: 26em; */
    /* margin: 80px 0 20px; */
    /* animation: cssShow 0s ease-in 5s forwards;
    -o-animation: cssShow 0s ease-in 5s forwards;
    visibility: hidden; */
}
/* @keyframes cssShow {
    to   { visibility: visible; };
} */
#main-logo {
    width: 8%;
    /* padding: 30px 1px 30px; */
    margin: 10px 0 10px;
    /* background-color: rgba(75, 5, 48, 0.1); */
    box-shadow: inset -4px -4px 30px rgba(253, 253, 253, 0.3);
    /* box-shadow: -4px -4px 30px rgba(31, 30, 30, 0.4); */
    border-radius: 50%;
    /* animation: cssAnimation 0s ease-in 5s forwards;
    -o-animation: cssAnimation 0s ease-in 5s forwards; */
}
.footer-buttons {
    
    /* background: conic-gradient(from -180deg, rgba(61, 1, 11, 1), rgba(37, 155, 223, 1) , rgba(114, 7, 60, 1));  */
}
.button-group {
    
    padding: 0;
    margin: 0;
}
/* @keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
} */

/* .footer-buttons {
    padding-top: 50px;
    height: 400px;
    background-color: rgba(68, 68, 71);

} */