* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}
.main {
    margin: 0px auto;
    width: 900px;
    text-align: left;
    background: linear-gradient(to bottom, rgba(8, 241, 191, .1) 10%,  rgba(8, 241, 191, .01) 90%);  
}
.text-center {
    text-align: left;
}
body {
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    font-size: 1.4em;
}
h1, h2, h3 {
    color: slategray;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding: 55px 0;
    margin: 10px 0 15px 0;
}
h1 {
    font-size: 90px;
    font-weight: 700;
    padding: 55px 0;
    text-align: center;
}
.homeMain {
    height: 2000px;
    width: 1920px;
    /* background: radial-gradient(circle at top,rgba(37, 155, 223, .01),rgb(122, 38, 80), rgba(61, 1, 11, .8),  rgba(37, 155, 223, .01));  */
    /* background: radial-gradient(circle at top, rgb(230, 100, 208, .5) 4%, rgba(37, 155, 223, .3), rgb(201, 137, 253) 30%, rgba(37, 155, 223, .3));  */
    background: repeating-conic-gradient(from 90deg at 35% -20%, white, rgba(37, 155, 223, .3), white,  rgb(37, 223, 223) ,  rgb(65, 2, 51) 35%, purple 60%, rgba(37, 155, 223, .3)); 
    /* background: linear-gradient(to top, white, rgba(37, 155, 223, .3), white,  rgba(37, 155, 223, 1) ,  rgb(2, 48, 75) 45%, purple 90%, rgba(37, 155, 223, .3));  */
    /* background: radial-gradient(circle at top,   white, rgba(37, 155, 223, .6),   rgb(2, 48, 75)40%,   rgb(2, 48, 75) 70%, rgba(37, 155, 223, .3));  */
    z-index: 4;
    position: relative;
    
}
.main-container {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: inset -4px -4px 30px rgba(0, 0, 0, 0.5);
    /* background: radial-gradient(ellipse at top , white, rgba(37, 155, 223, .3),   rgba(37, 155, 223, 1) ,  rgb(2, 48, 75) 60%, rgba(37, 155, 223, .3));  */
    background: radial-gradient(ellipse at top , white, rgba(37, 155, 223, .3),   rgba(37, 155, 223, 1) ,  rgb(2, 48, 75) 60%, rgba(37, 155, 223, .3)); 
    border-radius: 30%;
    width: 70%;
    margin: 0 auto 0;
    padding: 1em;
    /* position: relative; */
    z-index: 1;
    /* opacity: 40%; */
}
.header {
    padding: 0px 0 20px;
    margin: 50px auto 20px;
    /* width: 50%; */
    /* box-shadow: inset 20px 20px 30px rgba(253, 253, 253, 0.2); */
}
#entry {
    width: 750px;
    height: 350px;
    margin: 0 auto;
}
.prompt {
    margin: 65px 0;
}
canvas {
    width: 85em !important ;
    height: auto !important ;
    margin: 100px auto 180px;
}
Button.button > span {
    font-size: 1.5em;
}
#anxietyScore > span {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    font-size: 1em;
    padding: 0 .02em 0;
}
#anxiety-rating-welcome{
    font-size: 4.3em;
    font-weight: 800;
    color: rgb(0, 0, 0, .7);
    /* color: rgb(83, 6, 119); */
    padding: 150px 0 20px;
    text-align: center;
    margin: 50px 15px 0px;
    text-shadow: 2px 1px 4px rgba(255, 255, 255, 1);
}
#anxiety-rating-scale {
    /* color: rgb(59, 243, 255); */
    color: rgb(24, 24, 24);
    font-size: 50px;
    font-weight: 600; 
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.3);
    padding: 0px 0 50px;
}
.descriptionField {
    height: 85px; 
    margin: 0 auto 120px;
}
#description {
    width: 400px;
    height: 85px; 
    margin: 0 auto;
    margin-bottom: 70px;
}
#submit-rating {
    margin-top: 10px;
}
#anxietyScore {
    font-size: 2em;
    font-weight: 400;
    border-radius: 40px;
}
#anxiety-rate-container {
    width: 70%;
    max-height: 95em;
    padding: 30px 5px 200px;
    margin: 0 auto;
    border: 50px black;
    border-radius: 35%;
}
#main-logo {
    width: 12%;
    margin: 20px 0 30px;
    border-radius: 50%;
}
.footer-buttons {
    margin: 70px 0;
}
.button-group {
    padding: 0;
    margin: 0;
}
.footer-buttons {
    padding-top: 50px;
    height: 50px;
}